doctype html
html(prefix='og: http://ogp.me/ns#')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

    link(rel='canonical' href='https://lukin.me/live')
    link(rel='icon' type='image/png' sizes='32x32' href='/images/favicon.png')
    link(rel='icon' type='image/png' sizes='128x128' href='/images/icon-128.png')
    link(rel='icon' type='image/png' sizes='256x256' href='/images/icon-256.png')

    meta(property='og:url' content='https://lukin.me/live')
    meta(property='og:title' content='Anton Lukin — Live history')
    meta(property='og:description' content='The history of my travels around the world')
    meta(name='description' content='The history of my travels around the world')

    style
      include:uglify-css ../styles/common.css
      include:uglify-css ../styles/live.css

    style 
      each area in areas 
        | #{area}

    title Live history — Anton Lukin

  body
    .area 
      include map.svg

    .heading
      span I have been in
      strong #{now.place}
      span for the last #{now.delay > 1 ? now.delay + ' days' : '1 day'}

    .navigate
      a.back(href='/') Home

    .history
      each column in columns
        .column
          each past in column
            button.past(type='button')
              strong #{past.place}
              span for #{past.delay > 1 ? past.delay + ' days' : '1 day'}
              
            .visit
              each visit in past.visits
                p 
                  span #{visit.from} - #{visit.to}
                  each photo in visit.photos
                    a.photo(href=photo target='_blank' rel='noopener')
                  
                  button.picture(data-id=visit.id type='button')

              a(href=past.link target='_blank') Show on the map  ›
    .summary
      p Stayed in #{country} countries and #{place} cities since 2017. Visited #{country + 3} countries in total.

    script
      include:uglify-js ../scripts/live.js
