doctype html
html(prefix='og: http://ogp.me/ns#')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    link(rel='canonical' href='https://lukin.me/live')
    link(rel='icon' type='image/png' sizes='32x32' href='/images/favicon.png')
    link(rel='icon' type='image/png' sizes='128x128' href='/images/icon-128.png')
    link(rel='icon' type='image/png' sizes='256x256' href='/images/icon-256.png')

    meta(property='og:url' content='https://lukin.me/live')
    meta(property='og:title' content='Anton Lukin — Live history')
    meta(property='og:description' content='The history of my travels around the world')
    meta(name='description' content='The history of my travels around the world')

    style
      include:uglify-css ../styles/common.css
      include:uglify-css ../styles/live.css

    title Live history — Anton Lukin

  body
    a.heading(href=now.link target='_blank')
      span I have been in
      strong #{now.place}
      span for the last #{now.delay}
      
    .navigate
      a.back(href='/') Home

    .history
      each column in columns
        .column
          each past in column
            a.past(href=past.link target='_blank') 
              strong #{past.place}
              span for #{past.delay}

    script
      include:uglify-js ../scripts/live.js
